<script type="text/javascript">
    if(typeof app === 'undefined'){
        document.location.href="index.html";
    }
</script>
<div ng-controller="DownloadSubCategory as ctrl">

	<div class="title">Add Subcategory : {{ctrl.categoryObj.name}} </div>
	<ol class="breadcrumb margin0">
		<li><i class="fa-home"></i> <a href="" ng-click="ctrl.goto('Dashboard')">Home</a></li>
		<li><a href="" ng-click="ctrl.goto('DownloadCategory')"><i class="fa-cube"></i> Category</a></li>
		<li class="active"><i class="fa-cube"></i> Subcategory </li>
	</ol>

	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<div class="widget-box-turquoise">
			<div class="widget-title" lang="th"><i class="fa-cubes"></i> Add Subcategory</div>
			<ul class="widget-tool navbar-right">
				<li><i class="fa-caret-up show-hide-widget"></i></li>
			</ul>
			<div class="widget-inbox">
				<form name="frmCategory" id="frmCategory" method="POST" ng-submit="ctrl.saveCategory(frmCategory.$valid)" novalidate>
					<div class="form-box">
						<div class="form-group">
							<label class="control-labe"><span class="required-red">*</span> Name Subcategory </label>
							<div class="form-group"
								ng-class="{ 'has-error' : frmCategory.cate_name.$invalid && !frmCategory.cate_name.$pristine }">
								<input class="form-control" id="cate_name" name="cate_name" type="text" required
									ng-model="ctrl.editObj.name" maxlength="200"
									ng-class="{ 'is-invalid' : frmCategory.cate_name.$invalid && !frmCategory.cate_name.$pristine }">
								<div class="help-block with-errors"
									ng-if="frmCategory.cate_name.$invalid && !frmCategory.cate_name.$pristine">
									Subcategory name is required.</div>
							</div>
						</div>
						<div class="cleaner"></div>
						<div class="cleaner h10"></div>
						<input type="hidden" name="action" value="add-cate-sub" />
						<input type="hidden" name="id" value="6" />
						<!--main_cate-->
						<input type="hidden" name="main_cate" value="6" />
						<input type="hidden" name="cate_idsub1" value="" />
						<input type="hidden" name="showindex" value="" />

						<p class="small red">* หลังจากทำการเพิ่มหรือแก้ไขข้อมูลทุกครั้ง รบกวนทำการกด ctrl+f5 จากส่วน website หน้าบ้านเพื่อ refresh ข้อมูล</p>
						<div class="form-box" ng-if="ctrl.state == 'add'"
							ng-click="ctrl.saveCategory(frmCategory.$valid)" ng-disabled="ctrl.processing"><a
								class="bt-add">+ Add</a></div>
						<div class="tool-bottom col-xs-12" ng-if="ctrl.state == 'edit'">
							<ul  style="cursor: pointer;">
								<li>
									<button type="submit" class="bt-save" 
										ng-disabled="ctrl.processing">
										<i ng-if="ctrl.processing" class="fa fa-spinner fa-spin"></i>Save</button>

								</li>
								<li>
									<button type="button" class="bt-clear" ng-click="ctrl.cancelCategory()">Cancel</button>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
			<!--widget-inbox-->
		</div>
		<!--widget-box-->
	</div>

	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<div class="widget-box-grey">
			<div class="widget-title" lang="th"><i class="fa-list"></i> List Subcategory</div>
			<ul class="widget-tool navbar-right">
				<li class="btn-danger"><i class="fa-trash del-cate" ng-click="ctrl.deleteCategory()"></i></li>
				<li><i class="fa-caret-up show-hide-widget"></i></li>
			</ul>
			<div class="widget-inbox">
				<div class="scroll-y">
					<table class="table table-bordered record-list">
						<tr>
							<th width="5%"><input type="checkbox" name="all-record" id="all-record" class="css-checkbox"
									ng-click="ctrl.toggleAll()" ng-model="ctrl.isAllSelected" /><label for="all-record"
									class="css-label"></label></th>
							<th width="8%">No.</th>
							<th width="30%">Name Subcategory </th>
							<th align="center" width="10%">Status </th>
							<th width="10%"></th>
						</tr>
						<tr ng-repeat="r in ctrl.categories" ng-class="{'warning': r.selected}">
							<td align='center'>
								<input type="checkbox" name="{{r.id}}" id="{{r.id}}" class="chk_del css-checkbox"
									ng-model="r.selected" ng-change="ctrl.optionToggled()">
								<label for="{{r.id}}" class="css-label"></label>
							</td>
							<label for='maincate-1' class='css-label'></label>
							<td align="center">
								<!-- <span class="sort_text hide">{{r.priority}}</span><input
									ng-model="r.priority" num-only change-on-blur="ctrl.updateSubCategoryPriority(r)"
									class="sort_input form-control text-center" value="" /> -->
									<select name="selPriority" ng-model="r.priority" ng-change="ctrl.updateSubCategoryPriority(r)" ng-options="x for x in r.priorities"></select>
							</td>
							<td><span class="name_text"><strong>{{r.name}} </strong></span>
							</td>
							<td align="center">
								<div class="publushed" ng-class="{'unpublushed': r.status == 'Inactive'}">
									<select class="select-publushed chk_show" data-id="24" ng-model="r.status"
										ng-change="ctrl.updateSubCategoryStatus(r)">
										<option ng-repeat="x in ctrl.status" value="{{x}}" class="black">{{x}}</option>
									</select>
								</div>
							</td>
							<td><a href="" ng-click="ctrl.editCategory(r)" class="bt-edit"><i class="fa-pencil"></i>
									Edit</a></td>
						</tr>
					</table>
				</div>
			</div>
			<!--widget-inbox-->
		</div>
	</div>
	<script type="text/ng-template" id="confirm-delete.html">

		<div class="modal-body" id="modal-body-editor">
			หากต้องการลบ กรุณายืนยันอีกครั้ง
		</div>
		<div class="modal-footer">
			<button class="bt-confirm" ng-click="submit()" type="button">OK</button>
			<button class="" ng-click="close()" type="button">Cancel</button>
		</div>
	</script>
	<script src="js/bws.js"></script>
</div>