<script type="text/javascript">
    if(typeof app === 'undefined'){
        document.location.href="index.html";
    }
</script>
<div ng-controller="EditNewsCtrl as ctrl" ng-show="ctrl.canEditNews">
    
    <form name="frmEdit" id="frmEdit" method="POST" ng-submit="ctrl.submitNews(frmEdit.$valid, frmEdit.file.$valid)" novalidate>
        <div class="title">{{ctrl.title}}
            <!-- <ul class="tool">
                <li>
                    <button type="button" ng-click="ctrl.submitNews(frmEdit.$valid)" ng-disabled="ctrl.processing"
                        class="bt-save">
                        <i ng-if="ctrl.processing" class="fa fa-spinner fa-spin"></i> Save</button>
                </li>
                <li><button type="button" ng-click="ctrl.goto('AllNews')" class="bt-clear">Cancel</button></li>
            </ul> -->
        </div>

        <ol class="breadcrumb margin0">
            <li><i class="fa-home"></i> <a href="" ng-click="ctrl.goto('Dashboard')">Home</a></li>
            <li><i class="fa-newspaper-o"></i> <a href="" ng-click="ctrl.goto('AllNews')">News</a></li>
            <li class="active"><i class="fa-pencil"></i> {{ctrl.title}} </li>
        </ol>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <input type="hidden" name="action" value="add">
            <input type="hidden" name="id" value="1">
            <div class="widget-box-blue">
                <div class="widget-title" lang="th"><i class="fa-info"></i> Info </div>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                    <div class="form-box">
                        <div class="text-right"> No more than <span class="red">200</span> characters </div>
                        <div class="cleaner"></div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-4 col-md-4 col-lg-3 control-labe text-right"><span class="required-red">*</span> Topic :
                            </label>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                                
                                <div class="form-group" ng-class="{ 'has-error' : frmEdit.name_th.$invalid && !frmEdit.name_th.$pristine }">
                                    <input class="form-control" id="name_th" name="name_th" type="text"
                                        required ng-model="ctrl.newsModel.topic" ng-maxlength="ctrl.topicMaxLength"
                                        limit-to="{{ctrl.topicMaxLength}}" maxlength="200"
                                        ng-class="{ 'is-invalid' : frmEdit.name_th.$invalid && !frmEdit.name_th.$pristine }">
                                    <div class="help-block with-errors" ng-if="frmEdit.name_th.$invalid && !frmEdit.name_th.$pristine">Topic is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        <div class="text-right"><span id="chars" class="red">{{ctrl.topicMaxLength - ctrl.newsModel.topic.length}}</span> characters remaining </div>
                        <div class="cleaner"></div>
                        
                        <div class="text-right"> No more than <span class="red">1000</span> characters </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-4 col-md-4 col-lg-3 control-labe text-right"> Description :
                            </label>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                                    <textarea rows="3" class="form-control" maxlength="1000" ng-maxlength="ctrl.descMaxLength"
                                    limit-to="{{ctrl.descMaxLength}}" ng-model="ctrl.newsModel.description"></textarea>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p class="red">* ข้อมูลส่วน Description จะแสดงบน website เฉพาะ Category Announcement เท่านั้น</p>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="text-right"><span id="chars" class="red">{{ctrl.descMaxLength - ctrl.newsModel.description.length}}</span> characters remaining </div>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-4 col-md-4 col-lg-3 control-labe text-right"> Detail :
                            </label>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                                    <textarea ui-tinymce="tinymceOptions" class="form-control" rows="6" ng-model="ctrl.newsModel.detail"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <p class="red">* ข้อมูลส่วน Detail จะไม่มีการแสดงในกรณีที่เป็น Category Activities and Gallery</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="col-xs-12 col-sm-4 col-md-4 col-lg-3 control-labe text-right">
                                    <span class="required-red">*</span> Activity Date : </label>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                                <div class="form-group" ng-class="{ 'has-error' : frmEdit.documentdate.$invalid && !frmEdit.documentdate.$pristine }">
                                    <input type="text" class="form-control" datepicker ng-readonly="true" style="background:white;"
                                         id="documentdate" name="documentdate"
                                        required ng-model="ctrl.newsModel.announceDate"
                                        ng-class="{ 'is-invalid' : frmEdit.documentdate.$invalid && !frmEdit.documentdate.$pristine }">
                                    <div class="help-block with-errors" ng-if="frmEdit.documentdate.$invalid && !frmEdit.documentdate.$pristine">AnnounceDate is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--widget-inbox-->
            </div>
            <!--widget-box-->


            <div class="widget-box-turquoise" id="img-block">
                <div class="widget-title" lang="th"><i class="fa-photo"></i> Images </div>
                <ul class="widget-tool navbar-right">
                    <li class="text-center" ng-click="ctrl.selectAllImages()"  ng-if="ctrl.newsModel.newsImages.length > 0"><i class="fa-check-square-o" id="all-product" title="เลือกภาพทั้งหมด"></i></li>
                    <li ng-show="ctrl.canEditNews" ng-if="ctrl.newsModel.newsImages.length > 0"><i class="fa-trash" ng-click="ctrl.deleteNewsImages()"  data-action="del-all-image" title="ลบภาพทั้งหมด"></i></li>
                    
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                        <p class="red">* สามารถเลือกรูปภาพหลายรูปภาพพร้อมกันได้ โดยการกด Ctrl ค้างไว้แล้วเลือกรูปภาพ (ควรใช้รูปภาพขนาดเท่ากันทุกรูป)</p>
                        <p class="red">** ขนาดรูปที่แนะนำ 1000x666 pixels และควรมีขนาดไม่เกิน 10 MB</p>
                        <!-- <p class="red">*** จัดเรียงรูปภาพได้โดยการคลิกค้างที่รูปภาพ แล้วลากไปตำแหน่งที่ต้องการ (รูปภาพลำดับที่ 1 จะเป็นรูปภาพหน้าปกเสมอ)</p> -->
                    
                    <div class="product-images">
                        <div class="add-img img" ngf-select="ctrl.setNewsImages(ctrl.files)" 
                        ng-model="ctrl.files"
                        ngf-model-invalid="invalidFiles" 
                        ngf-change="ctrl.validateFile($invalidFiles, $duplicateFiles)"
                        ngf-pattern="'image/*'"
                        ngf-max-size="10MB"
                        ngf-accept="'image/*'"
                        ngf-keep="'distinct'"
                        ngf-multiple="true">
                            <span><i class="fa-image"></i><a class="text">เลือกรูปภาพ</a></span>
                        </div>
                        <div class="del-image" ng-repeat="f in ctrl.newsModel.newsImages">
                            <input type="checkbox" id="product-{{f.id}}" ng-model="f.selected" class="css-checkbox">
                            <label for="product-{{f.id}}" class="css-label"></label>															
                            <div class="bt-del-image" ng-click="ctrl.deleteNewsImage(f)" data-file="c1429a213d052139ae051d7c074e83bb.png" data-action="del-image"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fa fa-times"></i> --></div>
                            <img ngf-thumbnail="f.file || f.filePath" width="100%" alt=""/>
                            <!-- <span class="index">0</span>
                            <div class="cleaner h30"></div>
                            <a href="#" class="bt_edit" data-toggle="modal" data-target="#editNameModal" data-id="3" data-name="" data-nameen="" data-action="add-descript">
                            <input type="button" name="bt" class="bt_edit name" value="เพิ่มคำบรรยาย"><div class="cleaner"></div>
                            </a> -->
                        </div>
                    </div>
                    <div class="cleaner"></div>
                </div>
            </div>
            <!--widget-box-->

            <!--widget-inbox-->
            <div class="widget-box-sky">
                <div class="widget-title" lang="th"><i class="fa-photo"></i> Cover Image </div>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                    <p class="red">* ขนาดรูปที่แนะนำ 1000x666 pixels และควรมีขนาดไม่เกิน 3 MB</p>
                    <!--profile-box-->
                    <input type="hidden" name="id_cover" value="">
                    <div class="profile-box" style="text-align: center">
                        <div class="profile-image" style="padding-bottom: 30%"><!--images/nopic.png-->
                            <div class="bt-del-image" ng-click="ctrl.deleteCoverImage()" data-file="c1429a213d052139ae051d7c074e83bb.png" data-action="del-image"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg></div>
                            <img src="{{ctrl.newsModel.thumbnail}}" ng-click="ctrl.uploadCoverImage()" alt="profile-picture" class="img-responsive">
                        </div>
                        <div class="btn btn-sm btn-submit" data-toggle="modal" data-target="#avatar-modal">
                                <a href="" ng-click="ctrl.uploadCoverImage()"><i class="ion-images"></i> Choose cover image</a>
                        </div>
                    </div>
                    <!--profile-box-->
                </div>
                <!--widget-inbox-->
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="widget-box-grey">
                <div class="widget-title" lang="th"><i class="fa-history"></i> History</div>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                    <div class="row">
                        <div class="col-xs-4 text-right">Create Date : </div>
                        <div class="col-xs-8" ng-if="ctrl.newsModel.createdDate">
                            {{ctrl.newsModel.createdDate | date:'dd MMM yyyy @ HH:mm'}}
                        </div>
                        <div class="col-xs-8" ng-if="!ctrl.newsModel.createdDate">
                            -
                        </div>
                        <div class="col-xs-4 text-right">by : </div>
                        <div class="col-xs-8" ng-if="ctrl.newsModel.createdBy">
                            {{ctrl.newsModel.createdBy}}
                        </div>
                        <div class="col-xs-8" ng-if="!ctrl.newsModel.createdBy">
                            -
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right">Last Modify : </div>
                        <div class="col-xs-8" ng-if="ctrl.newsModel.updatedDate">
                            {{ctrl.newsModel.updatedDate | date:'dd MMM yyyy @ HH:mm'}}
                        </div>
                        <div class="col-xs-8" ng-if="!ctrl.newsModel.updatedDate">
                                -
                        </div>
                        <div class="col-xs-4 text-right">by : </div>
                        <div class="col-xs-8" ng-if="ctrl.newsModel.updatedBy">
                            {{ctrl.newsModel.updatedBy}}
                        </div>
                        <div class="col-xs-8" ng-if="!ctrl.newsModel.updatedBy">
                            -
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-box-orange">
                <div class="widget-title" lang="th"><i class="fa-heart"></i> Status</div>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                    <ul class="main-cate">
                        <li class="padding5">Active :
                            <div class="switch">
                                <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox"
                                    value="1" name="status" ng-model="ctrl.newsModel.status" checked>
                                <label for="cmn-toggle-1"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--widget-inbox-->
            </div>
            <!--widget-box-->

            <div class="widget-box-sky">
                <div class="widget-title" lang="th"><i class="fa-image"></i> Media</div>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                        <div class="widget-inbox-cate">
                            <a href='' data-toggle='modal' ng-click="ctrl.uploadMedia()" >  <button class="btn-default form-control"  type="button"><i class="fa-image"></i> Media</button></a>     
                        </div>
                </div>
            </div>

            <div class="widget-box-green">
                <div class="widget-title" lang="th"><i class="fa-sitemap"></i> Category</div>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                    <div class="widget-inbox-cate">
                        <select id="search_cate" class="form-control" name="search_cate"
                            ng-model="ctrl.newsModel.selectedCategory"
                            ng-options="option.name for option in ctrl.categories track by option.id">
                        </select>
                    </div>
                    <!--widget-inbox-cate-->
                </div>
                <!--widget-inbox-->
            </div>
            <!--widget-box-->

            <div class="widget-box-red">
                <div class="widget-title" lang="th"><i class="fa-child"></i> Permission</div>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                    <div class="widget-inbox-cate">
                    
                        For :
                        <select id="select-tag form-control" class="select-tag form-control" name="permission" ng-model="ctrl.newsModel.selectedPermission"
                            ng-options="option.name for option in ctrl.permissions track by option.id">
                        </select>
                    </div>
                </div>
            </div>

            <!-- <div class="widget-box-violet">
                <div class="widget-title" lang="th"><i class="fa-file-pdf-o"></i> ไฟล์ Upload</div>
                <ul class="widget-tool navbar-right">
                    <li><i class="fa-caret-up show-hide-widget"></i></li>
                </ul>
                <div class="widget-inbox">
                    <div class="product-images">
                        <div class='add-pdf'>
                            <span><i class='fa-file-pdf-o'></i><a class='text'>เลือกไฟล์ Upload</a></span>
                        </div>
                        <input class="hidden" type="file" name="file_array1">
                    </div>
                    <div class="cleaner"></div>
                </div>
            </div> -->
            <!--widget-box-->

        </div>
        <div class="cleaner"></div>
        <p class="small red">* หลังจากทำการเพิ่มหรือแก้ไขข้อมูลทุกครั้ง รบกวนทำการกด ctrl+f5 จากส่วน website หน้าบ้านเพื่อ refresh ข้อมูล</p>
        <div class="tool-bottom col-xs-12" ng-show="ctrl.canEditNews">
            <button type="submit" ng-disabled="ctrl.processing" 
                class="bt-save">
            <i ng-if="ctrl.processing" class="fa fa-spinner fa-spin"></i> Save</button>
            <button type="button" ng-click="ctrl.goto('AllNews')" class="bt-clear">Cancel</button>
        </div>
    </form>
    <script type="text/ng-template" id="confirm-delete.html">
        
        <div class="modal-body" id="modal-body-editor">
            หากต้องการลบ กรุณายืนยันอีกครั้ง
        </div>
        <div class="modal-footer">
            <button class="bt-confirm" ng-click="submit()" type="button">OK</button>
            <button class="" ng-click="close()" type="button">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="upload-cover.html">
        <div class="modal-header">
            <h3 class="modal-title" style="display: inline;">Cover image</h3>
            <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body  text-center" id="modal-body-editor" ng-if="myImage === ''">
            <div class="form-group text-center">
                <input type="file" id="fileInput" style="display:none" name="fileInput"/>
                <div class="avatar-wrapper" style="display: block;">
                        <div class="select-image" ng-click="triggerUpload()">
                            <svg class="svg-inline--fa fa-image fa-w-14" aria-hidden="true" focusable="false" data-prefix="far" data-icon="image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm-6 336H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v276a6 6 0 0 1-6 6zM128 152c-22.091 0-40 17.909-40 40s17.909 40 40 40 40-17.909 40-40-17.909-40-40-40zM96 352h320v-80l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L192 304l-39.515-39.515c-4.686-4.686-12.284-4.686-16.971 0L96 304v48z"></path></svg>
                            Click for Upload 
                        </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <br/>
            <a id="cropCancel" class="btn btn-reset btn-sm" ng-click="close()">Cancel</a>
        </div>
        <div class="modal-body text-center" id="modal-body-editor"  ng-if="myImage !== ''">
            <div class="cropArea">
                <ui-cropper image="myImage" area-type="rectangle" result-image="myCroppedImage" live-view="blockingObject"></ui-cropper>
            </div>
            <br/>
            <a id="cropAvatar" class="btn btn-submit btn-sm" ng-click="cropFuntion()">Crop</a>
            <a id="cropCancel" class="btn btn-reset btn-sm" ng-click="close()">Cancel</a>
        </div>
    </script>
    <script type="text/ng-template" id="upload-media.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">
                <span>&times;</span></button>
			<h4 class="modal-title" id="ModalLabel"> Media</h4>
		</div>
		<!--<form action="fn_portfolio.php" method="post" id="Form1" enctype="multipart/form-data">-->
		<div class="modal-body">
			<div class="form-box">

				<div class="form-group">
					<!--upload-->
					<div class=" kv-main">
						<strong>File upload</strong>
						<form method="post" id="frm" name="frm" enctype="multipart/form-data">
							<input id="file-upload" select-ng-files ng-model="files" angular-bfi="{'showUpload':false, 'previewFileType':'any', 'theme': 'explorer', 'overwriteInitial':false, 'initialPreviewAsData':'true'}" watch-options="true" type="file" accept=".jpg,.png" multiple>
							<button ng-disabled="processing" type="button" ng-click="uploadFile()" class="btn btn-success">
									<i ng-if="processing" class="fa fa-spinner fa-spin"></i> Upload Files</button>
							<button class="btn btn-default" ng-click="close()">Cancel</button>
						</form>
					</div>
					<!--upload-->
				</div>
				<hr>
				<strong>List media</strong>
				<button class="bt-clear" ng-show="showDelete" ng-click="deletes()"><i class="fa-trash"></i> Delete</button>
				<hr>
				<div class="form-group">
					<div class="col-sm-1">
						<input type="checkbox" name="all-product" id="all-product" class="css-checkbox"
						ng-click="toggleAll()" ng-model="isAllSelected"><label for="all-product"
						class="css-label"></label>
					</div>
					<div class="col-sm-4"><strong>Picture</strong></div>
					<div class="col-sm-5"><strong>Name</strong></div>
					<div class="col-sm-2 text-center"><strong>Copy url</strong></div>
					<div class="cleaner"></div>
				</div>
				<div class="form-group"  ng-repeat="m in medias">
					<div class="col-sm-1">
						<input type="checkbox" name="{{m.id}}" id="{{m.id}}" class="chk_del css-checkbox"
							ng-model="m.selected" ng-change="optionToggled()">
						<label for="{{m.id}}" class="css-label"></label>
					</div>
					<div class="col-sm-4">
						<img src="{{m.thumbImage}}" 
						tooltip-placement="top-left"
						uib-tooltip-template="'myTooltipTemplate.html'" height="50px">
					</div>
					<div class="col-sm-5" >{{m.fileName}}</div>
					<div class="col-sm-2 text-center"><button type="button" ng-click="copyLink(m)" class="btn-primary bt-choose"><i class="fa fa-link"></i> Copy url</button></div>
					<div class="cleaner"></div>
				</div>
				
				<div class="cleaner"></div>
				<div class="h10"></div>

				<ul class="records-info records-info-bottom">
					<li> </li> <a class="bt-prev" href="" ng-click="previousPage()"><i class="fa-caret-left"></i></a> <input type="text" size="3" ng-model="criteria.pageNumber"
						disabled="">
					<a href=""
						class="bt-next" ng-click="nextPage()"><i class="fa-caret-right"></i></a> From {{totalPage}} pages
					<li> &nbsp; <strong>|</strong> &nbsp; </li>
					<li> Item per page
						<select class="show-rec-no" ng-model="criteria.pageSize" ng-change="changePageSize()" ng-options="x for x in pageSizes">
						</select> Rows </li>
					<li> &nbsp; <strong>|</strong> &nbsp; </li>
					<li>All <strong>{{criteria.total}}</strong> items</li>
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<!--<button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
			<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>-->
		</div>
	</script>
	<script type="text/ng-template" id="myTooltipTemplate.html">
		<img src="{{m.fileURL}}">
	</script>
	<script type="text/ng-template" id="confirm-delete.html">
        
        <div class="modal-body" id="modal-body-editor">
            หากต้องการลบ กรุณายืนยันอีกครั้ง
        </div>
        <div class="modal-footer">
            <button class="bt-confirm" ng-click="submit()" type="button">OK</button>
            <button class="" ng-click="close()" type="button">Cancel</button>
        </div>
    </script>
    <script src="js/bws.js"></script>
</div>